#
# application.yml — главный конфигурационный файл Spring Boot.

#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

server:
  port: 8080

spring:
  application:
    name: bank-cards
  datasource:
    url: jdbc:postgresql://localhost:5432/bank_cards_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
  liquibase:
    change-log: classpath:db/migration/changelog.yaml
    enabled: true

# Настройки для JWT
jwt:
  secret: mySecretKeyForJWTGenerationInBankCardsApplication2024SecureKeyForProduction
  expiration: 86400000 # 24 часа

# Настройки для шифрования
encryption:
  secret: ThisIsASecretKeyForBankCards2024 # Ключ для AES

logging:
  level:
    com.example.bankcards: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  operations-sorter: method